.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 30px;
  height: 87vh;
  overflow: scroll;
  overflow-x: hidden;
  &.products-with-favorites {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  &::-webkit-scrollbar {
    width: 12px;
    color: black;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
    border-radius: 20px;
    height: 20px;
  }

  &-card {
    width: 260px;
    height: 350px;
    border: 1px dashed var(--color-border-cards);
    border-radius: 30px;
    margin: 20px 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

    &-firstControlBlock{
      width: 260px;
      height: 250px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow: hidden;
      &-image{
        width: 160px;
        height: 160px;
      }

      &-name{
        font-family: 'Poppins', serif;
        font-weight: 400;
        text-align: center;
        color: var(--color-name-product);
        font-size: 20px;

      }
    }

    &-controlBlock{
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--color-price-product);
      &-price{
        font-family: 'Poppins', serif;
        font-weight: 500;
        font-size: 24px;
      }
      &-likeButton{
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 5px;
        background-color: var(--color-like-button);

        &-heart{
          font-size: 25px;
          color: var(--color-icon-heart);
          &:hover{
            transition: 0.5s;
            color: var(--change-color-icon-heart);
          }
          &.active{
            transition: 0.5s;
            color: var(--change-color-icon-heart);
          }
        }
      }

    }
  }
}